<!-- 
Student IDs: 
  Ho, Minh Trung (301153049)
  Yeung, Kai Hong (301229539)
WebApp name: Survey Site
Description: Back End View - index.ejs
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %> 

<!--Main Content-->
<main class="container" style="background-color: gray;">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the <%= title %></h1>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>




